<h1>User Show Page</h1>

<h1>Welcome <%= @user.name %></h1>

<h3>Your Groups are:</h3>
<% @user.groups.each do |g| %>
    <%= link_to g.name, group_path(g) %>
<% end %>

<h4>Your Events are:</h4>
<% @user.groups.each do |g| %>
    <%= g.events.each do |e| %>
    <%= link_to e.name, group_path(g) %>
<% end %>