<h1>Events</h1>

<% @events.each do |event| %>
<div>
    <%= link_to event.name, event_path(event) %></br>
    <%= event.date_time.to_formatted_s(:long_ordinal) %>
</div>
<% end %>
</br>
<div>
    <%= button_to "Create a New Event", new_event_path, method: "get" %>
</div>