<h1>All Games</h1>

<% @games.each do |game| %>
        <div><%= link_to game.name, game_path(game) %></div>
    <% end %>

    <div><%= button_to "Add a New Game", new_game_path, method: "get" %></div>

    <div><%= button_to "See All Kid Friendly Games", game_kid_friendly_path(@game), method: "get" %></div>



